html {
    background-color: slategray;
}


body {
    display: grid;
    place-items: center;
    margin: 0 auto;
    height: 400vh;
    width: 100vw;
    position: relative;
}

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

svg {
   /* display: inline-block; */
   height: 100%;
   width: 100%;
   position: absolute;
   transform: translateX(-50%);
}

/* path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 5s linear alternate infinite;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  } */